body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  text-align: center;
  padding: 20px;
  background-color: #6200ea;
  color: #fff;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.div-des {
  width: 600px;
  text-align: justify;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
